.similar_car {
	// &__title {
	// }

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media screen and (max-width: 1430px) {
			margin-top: 30px;
		}
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin-top: 28px;
		margin-bottom: 40px;
		gap: 40px 20px;
		@media screen and (max-width: 730px) {
			justify-content: center;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
	}

	// mobile
	&__card-details-mobile{
		display: none;

		@media screen and (max-width: 725px) {
			display: block;
		}

		&__model{
			font-weight: 700;
			font-size: 17px;
			line-height: 130%;
			color: var(--text-black);
		}

		&__info{
			margin: 3px 0 10px;
			font-weight: 400;
			font-size: 12px;
			line-height: 140%;
			color: var(--text-grey);
		}
	}

	&__swiper {
		position: relative;
		width: 340px;
		height: 235px;
		@media screen and (max-width: 560px) {
			border-radius: 5px 0 0 5px;
			height: 192px;
		}

		&-icon-like, &-icon-report{
			display: none;
			@media screen and (max-width: 560px) {
				position: absolute;
				display: block;
			}
		}
	}

	&__slide {
		overflow: hidden;
		border-radius: 10px;

		@media screen and (max-width: 560px) {
			border-radius: 0;
			width: 256px;
			height: 192px;
		}

		// img {
		// }
	}

	&__card-details {
		display: flex;
		flex-direction: column;
		margin-top: 13px;
		margin-bottom: 15px;
		@media screen and (max-width: 725px) {
			margin-top: 10px;
			margin-bottom: 12px;
		}
		
	}

	&__card-details__price {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 23px;
		line-height: 100%;
		color: var(--text-black);
	}

	&__card-details__price-discount-mobile{
		display: none;

		@media screen and (max-width: 725px) {
			display: block;
			margin-left: 5px;
			font-weight: 400;
			font-size: 12px;
			line-height: 130%;
			text-decoration-line: line-through;
			color: var(--text-grey);
		}
	}

	&__card-details__price-month-mobile{
		display: none;

		@media screen and (max-width: 725px) {
			margin-top: 2px;
			font-weight: 400;
			font-size: 13px;
			line-height: 120%;
			color: var(--red);
		}
	}

	&__card-details__model {
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 400;
		font-size: 17px;
		line-height: 150%;
		color: var(--text-black);
	}

	&__card-details__info {
		font-weight: 400;
		font-size: 15px;
		line-height: 190%;
		color: var(--text-grey);
	}

	&__card-bottom {
		display: flex;
		align-items: center;
	}

	&__card-btn {
		margin-right: 20px;
		border-radius: 5px;
		padding: 15px 30px;
		width: 194px;
		height: 55px;
		font-weight: 700;
		font-size: 16px;
		line-height: 160%;
		text-align: center;
		@media screen and (max-width: 725px) {
			margin-right: 15px;
		}
	}

	&__card-icon {
		display: block;
		cursor: pointer;
		@media screen and (max-width: 725px) {
			display: none;
		}
	}

	// mobile
	&__card-phone-text__mobile{
		display: none;
		@media screen and (max-width: 725px) {
			display: block;
		}
	}

	&__card-phone__mobile{
		font-weight: 600;
		font-size: 15px;
		line-height: 130%;
		color: var(--text-black); 
	}

	&__card-text__mobile{
		font-weight: 400;
		font-size: 11px;
		line-height: 170%;
		color: var(--text-grey);
	}

	// кнопка показать ещё
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 17px 0;
		background-color: var(--btn-bkg);
		cursor: pointer;
		@media screen and (max-width: 998px) {
			padding: 21px 0;
		}
	}

	&__btn-text {
		margin-right: 5px;
		font-weight: 600;
		font-size: 19px;
		line-height: 130%;
		text-align: center;
		color: var(--red);
		@media screen and (max-width: 998px) {
			font-weight: 500;
			font-size: 15px;
		}
	}

	&__card-details__model, &__card-details__info{
		@media screen and (max-width: 725px) {
			display: none;
		}
	}
}
