.title {
	font-weight: 700;
	font-size: 28px;
	line-height: 130%;
	color: var(--text-black);
	@media screen and (max-width: 798px) {
		font-size: 20px;
	}
}

.btn {
	color: var(--white);
	background-color: var(--red);
	transition: all 0.3s linear;
	cursor: pointer;

	&:hover {
		background-color: var(--hover);
	}
}
