.title {
	font-weight: 700;
	font-size: 28px;
	line-height: 130%;
	color: var(--text-black);
	@media screen and (max-width: 798px) {
		font-size: 20px;
	}
}

.btn {
	color: var(--white);
	background-color: var(--red);
	transition: all 0.3s linear;
	cursor: pointer;

	&:hover {
		background-color: var(--hover);
	}
}

.update-car {
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding-left: 10px;
	width: 306px;
	height: 33px;
	background-color: #f0f1f3;
}

.update-car-text {
	margin-left: 9px;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: #ff4b4b;
}

// выход за границы container
// position: relative;
// left: 50%;
// width: 100vw;
// transform: translateX(-50%);


.phone-manager {
	display: flex;
	align-items: center;

	&__text {
		margin-left: 12px;
	}
}

.phone {
	&__link {
		font-weight: 600;
		font-size: 18px;
		line-height: 130%;
		color: var(--text-black);
		cursor: pointer;
	}
}

.manager__count {
	font-weight: 400;
	font-size: 13px;
	line-height: 170%;
	color: var(--text-grey);
}
